/target
/data
/media-data
/.pids
/venv
*.swp
*.swo
.DS_Store
.env
/tams-web/venv/
/tams-web/frontend/node_modules/
/tams-web/frontend/dist/
/tams-web/frontend/research/
/tams-web/node_modules/
__pycache__/
tams-server/swagger-ui/swagger-ui-bundle.js
tams-server/swagger-ui/swagger-ui.css
tams-server/swagger-ui/swagger-ui-standalone-preset.js
tams-server/swagger-ui/favicon-32x32.png
tams-server/swagger-ui/api-spec.yaml
/rustfs-data
/node_modules/
.hypothesis
*.mov
*.mp4
